
<nav role="navigation" class="nav-bar">
    <div class="nav-container">
      <ul class="navbar-left">
      <li><img  height="100%" src="images\method-draw-image.svg" alt="Берег"></li>
    </ul>
    
      <ul class="navbar-right">
        <li><a href="/">Главная</a></li>

        {{#if isReg}}
        <li><a href="/">{{username}} </a></li>
        <li><a href="/exit">выйти</a></li> 
        {{/if}}
        
      </ul>
    </div>
  

    
</nav>
  